.second-container {
  background-color: var(--gray-100);
  padding: 60px 80px;
}

.second-container h4 {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 60px;
  justify-content: center;
}

@media screen and (max-width: 835px) {
  .second-container {
    padding: 60px 20px;
  }
}
